{% extends 'blog/base.html' %}

{% block head %}
<title>Login</title>
{% endblock head %}

{% block content %}
<div class="columns is-centered is-vcentered mt-6">
  <div class="column is-6">
    <form action="/login" method="POST" class="auth-form" autocomplete="off">
      {% csrf_token %}
      <h1 class="title is-1 has-text-centered">Login</h1>
      <div class="field">
        <label for="login-email" class="label">Email</label>
        <div class="control">
          <input id="login-email" type="email" class="input" placeholder="Please enter your email" />
        </div>
      </div>
      <div class="field">
        <label for="login-password" class="label">Password</label>
        <div class="control">
          <input id="login-password" type="password" class="input" placeholder="Please enter your password"
            autocomplete="new-password" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" checked>
            Remember me
          </label>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link">Login</button>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <p class="has-text-grey-darker">New here? <a href="{% url 'register' %}">Register</a></p>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock content %}